@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 99%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 340 82% 52%;
    --primary-foreground: 356 75% 98%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 224 71% 4%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 5% 96%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 340 82% 52%;
    --radius: 0.5rem;
    --chart-1: 221 83% 53%;
    --chart-2: 25 95% 53%;
    --chart-3: 210 40% 96.1%;
    --chart-4: 222.2 47.4% 11.2%;
    --chart-5: 160 80% 40%;
    --sidebar-background: 220 15% 15%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 25 95% 53%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 221 83% 53%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 15% 25%;
    --sidebar-ring: 25 95% 53%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 340 82% 52%;
    --primary-foreground: 356 75% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 340 82% 52%;
    --chart-1: 217.2 91.2% 59.8%;
    --chart-2: 25 95% 53%;
    --chart-3: 217.2 32.6% 17.5%;
    --chart-4: 210 40% 98%;
    --chart-5: 160 60% 40%;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 25 95% 53%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 217.2 91.2% 59.8%;
    --sidebar-accent-foreground: 222.2 47.4% 11.2%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
