@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 33% 91%;
    --foreground: 206 41% 10%;
    --card: 206 33% 96%;
    --card-foreground: 206 41% 10%;
    --popover: 206 33% 96%;
    --popover-foreground: 206 41% 10%;
    --primary: 206 41% 27%;
    --primary-foreground: 0 0% 98%;
    --secondary: 206 33% 85%;
    --secondary-foreground: 206 41% 10%;
    --muted: 206 33% 85%;
    --muted-foreground: 206 41% 40%;
    --accent: 29 100% 45%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 206 33% 80%;
    --input: 206 33% 85%;
    --ring: 29 100% 45%;
    --radius: 0.5rem;
    --chart-1: 206 41% 27%;
    --chart-2: 29 100% 45%;
    --chart-3: 206 30% 50%;
    --chart-4: 29 80% 60%;
    --chart-5: 206 20% 65%;
    --sidebar-background: 206 41% 15%;
    --sidebar-foreground: 206 33% 85%;
    --sidebar-primary: 29 100% 45%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 206 41% 27%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 206 41% 20%;
    --sidebar-ring: 29 100% 45%;
  }

  .dark {
    --background: 206 41% 10%;
    --foreground: 206 33% 91%;
    --card: 206 41% 15%;
    --card-foreground: 206 33% 91%;
    --popover: 206 41% 10%;
    --popover-foreground: 206 33% 91%;
    --primary: 0 0% 98%;
    --primary-foreground: 206 41% 10%;
    --secondary: 206 41% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 206 41% 20%;
    --muted-foreground: 206 33% 70%;
    --accent: 29 100% 55%;
    --accent-foreground: 206 41% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 206 41% 20%;
    --input: 206 41% 20%;
    --ring: 29 100% 55%;
    --radius: 0.5rem;
    --chart-1: 206 33% 91%;
    --chart-2: 29 100% 55%;
    --chart-3: 206 33% 70%;
    --chart-4: 29 80% 60%;
    --chart-5: 206 33% 50%;
    --sidebar-background: 206 41% 10%;
    --sidebar-foreground: 206 33% 85%;
    --sidebar-primary: 29 100% 55%;
    --sidebar-primary-foreground: 206 41% 10%;
    --sidebar-accent: 206 41% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 206 41% 20%;
    --sidebar-ring: 29 100% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
